/* ==========================================================================
   PROJECT STYLES
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	color: #666;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}
img {
	max-width: 100%;
}
h1 {
	text-align: center;
	font-size: 64px;
	font-weight: 300;
	line-height: 64px;
	margin-top: 0;
	margin-bottom: 15px;
	color: #00a4b1;
	font-weight: bold;
}
h2 {
   text-align: center;
   font-size: 34px;
   font-weight: bold;
   color: #a72284;
   margin-top: 4px;
   margin-bottom: 0px;
}
h3 {
	font-size: 24px;
    font-weight: bold;
   	color: hotpink;
   	margin-top: 5px;
}
h4 {
	text-align: left;
	font-size: 24px;
    font-weight: bold;
   	color: hotpink;
   	margin-top: 10px;
   	margin-bottom: 10px;
}
.whitehtwo {
   color: #fff;
}
/*h5 {
	font-size: 64px;
	font-weight: 300;
	writing-mode: vertical-lr;
	color: #00a4b1;
	font-weight: bold;
}*/
ul {
	margin-bottom: 10px;
	list-style-type: none;
}
a {
	color: orange;
	text-decoration: none;
}
a:visited {
	color: #666;
}
p a:visited {
	color: #a72284;
}
a:hover {
	color: #ffcc00;
}
nav {
	/*margin-bottom: 10px;*/
	text-align: center;
	color: #00ffff;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    /*border-bottom: 2px solid #ccc;*/
    /*height: 50px;*/
    width: 100%;
  	z-index: 100;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
nav a {
	font-size: 20px;
	color: #666;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
}
nav .active {
	color: #00a4b1;
}

/*.about .active-about {
	color: #00a4b1;
}
.adopt .active-adopt {
	color: #00a4b1;
}
.contact .active-contact {
	color: #00a4b1;
}
.events .active-events {
	color: #00a4b1;
}
.donate .active-donate {
	color: #00a4b1;
}
.shop .active-shop {
	color: #00a4b1;
}
.volunteer .active-volunteer {
	color: #00a4b1;
}
.happytails .active-happytails {
	color: #00a4b1;
}*/

nav ul li a img {
	vertical-align: middle;
			}
nav > li > a:hover {
	color: #13aad7;
	text-decoration: none;
}
.column > h2 > a:hover {
	color: #13aad7;
	text-decoration: none;
}
main {
	margin-top: 20px;
}
p {
	font-size: 20px;
	color: #666;
	margin-bottom: 30px;
	line-height: 24px;
	text-align: left;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
footer {
	text-align: center;
	margin-top: 20px;
}
.hero {
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
	padding-top: 160px;
	padding-bottom: 160px;
	background-color: #ddd;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-KR.JPG);
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	/*margin-top: 50px;*/
}
.hero h1 {
	color: aqua;
}
.hero h2 {
	color:	hotpink;
}
.adopt .hero {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/heros/hero-adopt.JPG);
}
.donate .hero {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-donate.JPG);
	background-position: center 0%;
}
.events .hero {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/heros/hero-events.JPG);
	background-position: center 0%;
}
.about .hero {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-about.JPG);
	background-position: center 15%;
}
.contact .hero {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-contact.JPG);
	background-position: center 45%;
}
.shop .hero {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-shop.JPG);
	background-position: center 6%;
}
.volunteer .hero {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/heros/hero-volunteer.JPG);
	background-position: center 40%;
}
.happytails .hero {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/heros/hero-happytails.JPG);
	background-position: center 30%;
}
.hero2 {
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 160px;
	padding-bottom: 160px;
	background-color: #ddd;
	background-image: url(images/heros/hero2-happytails-doubledoxie.JPG);
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}
.gradient {
	padding-top: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb83fa+0,40f3f9+53 */
	background: #fb83fa; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fb83fa 0%, #40f3f9 53%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #fb83fa 0%,#40f3f9 53%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #fb83fa 0%,#40f3f9 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb83fa', endColorstr='#40f3f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.welcome p {
	margin-top: 0;
	font-size: 1.8em;
	line-height: 1.5;
	padding: 40px 0px;
	}
.donate .hero2 {
background-image: url(images/heros/hero2-donate.JPG);
	background-position: center 45%;
}
.shop .hero2 {
background-image: url(images/heros/hero2-shop.JPG);
	background-position: center 72%;
}
.social {
	margin: 5px;
}
.main-content {
  	text-align: center;
    overflow: hidden;
    margin: auto;
}
.main-tails {
  	text-align: center;
    padding: 25px 0;
    max-width: 100%;
    overflow: hidden;
    clear: both;
}
.column-3 {
  	float: left;
    width: 30%;
    padding: 15px;
}
.column-3 img {
   	width: 70%;
   	max-width:70%;
    border-radius: 50%;
    border: 15px solid #8a80c3;
    margin-bottom: 20px;
}
.column-2 {
   	float: left;
   	width: 45%;
 	padding: 5px;
}
.column-2 img {
    max-width: 100%;
}
.available {
	background-color: #02ecff;
	background-color: #00a4b1;
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.available p {
	color: #ffffff;
}
.clearup {
	clear: both;
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}
.center {
	position: center 500%;
	text-align: center;
}
.products {
	border: 10px solid #00a4b1;
	box-shadow: 0 12px 40px #a72284;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	overflow: hidden;
}
.products img{
	vertical-align: bottom;
}
.application {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.supplies {
	text-align: left;
	max-width: 80%;
	margin-top: 0px;
	padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 660px;
    background-color: yellow;
	transform: rotate(-2deg);
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}
.container {
    width: 100%; 
   	margin: 0 auto;
}
.biocontainer {
	display: grid;
}
#kurdana {
	float: right;
	margin-top: 10PX;
	margin-right: 10%;
	margin-left: 10PX;
}
/*This can be deleted or ideas used for the three colums
.lefttail, .righttail {
	float: left;
	width: calc(50% - 20px);
	margin: 0%;
	box-sizing: border-box;
}
.lefttail {	
	padding-right: 20px;
}
.righttail {
	padding-right: 20px;
}
/* everything below here needs to be edited*/
#dogs img {
    background-image: url(images/esar.JPG) no-repeat top left;
    color: #fafafa;
    text-align: center;
    height:350px;
    float: left;
    padding: 25px 0;
    background-size: cover;
    display: inline-block;
}
.cats {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
    width: 200px;
    padding: 5px;
    border: 2px solid lightblue;
    display: inline-block;
}
.nin {
	text-align: center;
	margin: 0 auto 20px auto;
	/*background-image: url(images/logo/esarnin.png);*/
	background-image: url(images/logo/ninwithouttext.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
}
.process {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box;	
}
/* TBD Fix this!  Insert sprite here when you get it.*/
.esariconsvg {
	background-image: url(images/logo/esarnin.png) no-repeat;
	background-position: cover;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}
.hanres {
	color: #fff;
	text-align: center;
	margin: 0 auto;
	height: 200;
	width: 200;
	display: block;
	padding-top: 160px;
	padding-bottom: 160px;
}
.another {
	margin: 0 auto;
	height: 200;
	width: 200;
	display: block;
	}

#meredith {
	color: red;
	font-family: 'Patrick Hand', 'Open Sans', cursive;
	/*font-family: 'Neucha', cursive;*/
	/*font-family: 'IM Fell English', serif;*/
	/*font-family: 'IM Fell Great Primer', serif;*/
}
#zinner {
	color: black;
	font-family: 'Patrick Hand', cursive;
}
#meredithlogo {
	float: left;
	padding: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
#meredithpix {
	padding: 0px 0px 0px 20px;
	float: right;
	display: inline-block;
}
#testimonial {
	font-family: 'Caveat', cursive;
	font-size: 30px;
	color: #003366;
}
#testimonial2 {
	font-family: 'Crafty Girls', cursive;
	font-size: 28px;
	color: #3300cc;
}
#testimonial3 {
	font-family: 'Pangolin', cursive;
	color: #000000;
}
#testimonial4 {
	font-family: 'Coming+Soon' cursive;
	color: #000099;
}
#testimonial5 {
	font-family: 'Schoolbell', cursive;
	color: #000033;
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media (min-width: 1024px) {
/*fix the nav to the top of the page*/
		nav {
			position: fixed;
		}

	}